*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D6F54F;
}
.container{
    background-color: white;
    min-height: 100vh;
}
.main{
    padding:  0px 15px;
}

thead{
    height: 50px;
}


.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid gray;
}

.iniciais{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CD0A2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
}
.cab_dir{
    display: flex;
    align-items: center;
    justify-content:left ;
    gap: 30px;
}

.cab_esq{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form_busca{
    width: 400px;
    height: 40px;
    border-radius: 5px;
}
.form_btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: none;
}
.novoItem_btn{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #263C18;
    color: white;
}
.superior{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.superior2{
    
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.tabela{
    width: 100%;
}
.cabecalho_tabela{
    background-color: rgba(226, 226, 226, 0.808);
    height: 60px;
}
.cadastrar_item, .editItem{
    width: 450px;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 805px;
    padding: 20px;
}

.formulario_item input ,select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn_save_item{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #263C18;
    color: white;
}
.btnEdit{
    border: none;
    background: none;
}
.voltar{
margin-bottom: 30px;
}

.criar_novo{
    margin-bottom: 40px;
}
.linha_item{
    height: 50px;
    /* border: 1px solid black; */
    border-bottom: 1px solid #afc0ba;
    
}

.linha_item td, th{
    
    /* border: 1px solid black; */
    padding: 5px;
    width: 100px;
    
}

.centralizar{
    text-align: center;
}
.btn_volta{
    cursor: pointer;
}
.voltar{
    display: flex;
    align-items: center;
    justify-content:left ;
    gap: 10px;
}
.bi{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.cadastrando{
    width: 300px;
    height: 100vh;
    background-color: #263C18;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.fechaCadastro{
    color: white;
    margin-right: 0;
    cursor: pointer;
}

.divSaida{
    width: 100%;
    text-align: right;
    padding-right: 30px;
}

.divLogout{
    /* position: fixed; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.divLogout button{
    background: none;
    border: none;
}
.divLogout button i{
    
    color: white;
}
#sessaoUsuario{
    color: white;
 font-size: 19px;
 width: 100%;
 text-align: center;   
}

.logo{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    border-bottom: 2px solid white;
}

.bi-person{
    color: white;
}

.inputLateral{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.inputLateral p{
    color: white;
}

.divBtnLog{
    width: 100%;
    text-align: center;
}
.logCad{
    width: 90%;
    background-color: #D6F54F;
    font-weight: bold;
    margin: auto;
    border-radius: 20px;
    height: 40px;
}
.btnAcao{
    width: 50%;
    /* background-color: #D6F54F; */
    font-weight: bold;
    margin:5px auto;
    border-radius: 20px;
    height: 40px;
    background-color: #263C18;
    color: white;
}
.btnGiro{
    width: 100px;
    background-color: #D6F54F;
    font-size: 12px;
    font-weight: bold;
    
    margin:5px auto;
    border-radius: 20px;
    height: 20px;
}

.msgNull{
    width: 100%;
    height: 40vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.liPage{
    display: flex;
    flex-direction: row;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.alinhar{
    display: flex;
    justify-content: center;
}
.bi{
    cursor: pointer;
}
#prestador{
    width: 100%;
    height: 45px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

#itensPorPagina{
    width: 100px;
}
 
.disabled{
  /* background-color: #263C18; */
  opacity: 45% ;
}
.form-check-input ,.form-check-label{
    cursor: pointer;
}